html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.application {
    width: 100%;
    height: 100%;
}

#dialogs .overlay {
    top:0;
    left: 0;
    z-index: 1;
    position: fixed;
    background: #aaaaaa33;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#dialogs .simpledialog {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    background-color: #fefefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

#dialogs .simpledialog .header {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    height: 56px;
    background-color: #0978a4;
    color: #fff;
}

#dialogs .simpledialog .header .title {
    padding-left: 1em;
}

.flex-1 {
    display: flex;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
}

.padding {
    display: flex;
}

.center {
    align-items: center;
    flex: 1;
    justify-content: center;
    display: flex;
}

.appbar {
    background-color: #1B5E20;
    display: flex;
    flex-direction: row;
    height: 3.6em;
    color: #fff;
    align-items: center;
}

.drawer {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.drawer .overflow {
    flex: 1;
    background-color: #ffffffAA;
}

.icon-button {
    cursor: pointer;
    padding: 6px;
    width: 20px;
    height: 20px;
}

.icon-button:hover {
    border: none;
    border-radius: 14px;
    background: #00000033;
}

.circle-avatar {
    border-radius: 50%;
    overflow: hidden;
}

.image {
    width: 100%;
}

.drawer-simple-header {
    display: flex;
    background-color: #1B5E20;
    border-bottom: 1px solid #ddd;
    color: #fff;
    height: 10em;
}